html,
body {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	background: #000;
	/* Impedisce il rimbalzo nativo su mobile per non sovrapporsi all'effetto custom */
    overscroll-behavior-y: contain;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat Local', 'Segoe UI', Arial, sans-serif;
	color: var(--ivory);
}

* {
	box-sizing: border-box;
}